<h1>Welcome to Lego Marketplace!</h1>

<% @bricks.each do |brick| %>
  <h3><%= brick.name %></h3>
  <h5><%= brick.category.name %></h5>
  <p><%= brick.description %></p>

  <%= link_to 'View', brick_path(brick) %>
  <% if user_signed_in? && current_user.id == brick.user.id %>
    <%= link_to 'Edit', edit_brick_path(brick) %>
    <%= link_to 'Delete', brick_path(brick), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<% end %>

